body {
    margin: 0;
    background-color:#1C1C1C;
    display: flex;
    justify-content: center;
    /* font-family: Karla; */
}

.main {
    display: flex;
    flex-direction: column;
    margin-top:64px;
    background-color:#1F2937;
    width: 450px;
    height: 450px;
}

.contents {
    margin-left:44px;
    margin-top:50px;
    
}

.header {
    color: white;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -2.5%;

}

span {
    color:#34D399;
}

p {
    width: 372px;
    height: 28px;
    top: 205px;
    left: 52px;
    color:#D5D4D8;
    margin-top: -20px;
}

button{
    cursor: pointer;
    background-color: #10B981;
    border-radius:6px;
    border:none;
    color: white;
    width: 171px;
    height:42px;
    padding: 9px 17px 9px 17px;
    font-family:inter;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0%;

}

hr {
    display: flex;
    margin-right: 50px;
    margin-top:35px;
    border-width: 0.01px;
    color: #2F3E53;
}

.outputs {
    display: flex;
    flex-direction: row;
    margin-top:35px;
}

.output1, .output2{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 151px;
    height: 29px;
    border-radius: 6px;
    background-color:#273549;
    margin-right: 40px;
}

#output1-el, #output2-el {
    display: flex;
    color:#55F991;
    font-family: Inter;
    text-align: center;
    margin-top:7px;
    justify-content: center;
    font-size: 12px;
}